<p id="notice"><%= notice %></p>

<h1>Assignments</h1>
<%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th  scope="col">Id</th>
      <th  scope="col">Description</th>
      <th  scope="col">Assigned User</th>
      <th  scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.id %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.user.name %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


