<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s_name %>
    <%= form.text_field :s_name %>
  </div>
  <div class="field">
  <%= form.label :class_detail_id %>
    <%= form.select(:class_detail_id, ClassDetail.all.collect {|p| [ p.class_name, p.id ] }, {include_blank: "Select Class Details"}, { :class => 'custom-select' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
