<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col" colspan="2">Present Status</th>
    </tr>
  </thead>
  <tbody>
  <%i =1%>
  <%@students.map do |ss|%>
    <tr>
      <th scope="row"><%=i%></th>
      <td><%= Date.today    %></td>
      <td><%= ss.name %></td>
      <td><%= ss.class_detail.class_name%></td>
      <td>
        <button onclick="attendance(<%=ss.id%>, true)" class="btn btn-default">P</button>
        <button onclick="attendance(<%=ss.id%>, false)" class="btn btn-default">A</button>
      </td>
    </tr>
    <%i =i+1%>
    <%end%>
  </tbody>
</table>