<p id="notice"><%= notice %></p>

<h1>Circulars</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Content</th>
      <th scope="col">Desc</th>
      <th scope="col">C date</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circulars.each do |circular| %>
      <tr>
        <td><%= circular.content %></td>
        <td><%= circular.desc %></td>
        <td><%= circular.c_date %></td>
        <td><%= link_to 'Show', circular %></td>
        <td><%= link_to 'Edit', edit_circular_path(circular) %></td>
        <td><%= link_to 'Destroy', circular, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circular', new_circular_path %>
